@using System.Security.Claims;
@model IEnumerable<Restaurant.Models.Rezervasyon>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // Kullanıcı tablodaki doğrulamayı yapıyoruz usernameyi veritabanındaki User tablosunda doğrulamasını yapıyoruz.
    var username = "";
    var rol = "";
    if (User.Identity.IsAuthenticated)
    {
        username = User.FindFirst(ClaimTypes.NameIdentifier).Value;
        rol = User.FindFirst(ClaimTypes.Role).Value;
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sayi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sayi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            
        </tr>
}
    </tbody>
</table>
